.card {
  background: #ffffff;
  .prod {
    display: flex;
    justify-content: space-between;
    .itemInfo {
      display: flex;
      justify-content: flex-start;
      .img {
        width: 40px;
        height: 40px;
        left: 0px;
        top: 0px;
        object-fit: contain;
      }
      .prodInfo {
        text-align: left;
        padding-left: 8px;
        padding-right: 8px;
        .title a {
          word-break: break-word;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          color: #28282b;
          text-decoration: none;
          line-height: 20px;
          font-size: 14px;
          font-weight: 400;
        }
        .allPrice {
          display: flex;
          align-items: center;
          margin-bottom: 12px;
          .price {
            font-size: 14px;
            line-height: 20px;
            font-style: normal;
            font-weight: bold;
            color: #1a94ff;
          }
          .oldPrice {
            margin-left: 4px;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            text-decoration-line: line-through;
            color: #808089;
          }
        }
        .btnGroup {
          display: flex;
          .reduceBtn {
            background: #ffffff;
            height: 40px;
            width: 40px;
            border: 1px solid #c4c4cf;
            box-sizing: border-box;
            border-radius: 4px;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            .reduce {
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #c4c4cf;
            }
          }
          .addBtn {
            background: #ffffff;
            height: 40px;
            width: 40px;
            border: 1px solid #1a94ff;
            box-sizing: border-box;
            border-radius: 4px;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            .add {
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #1a94ff;
            }
          }
          .quantityBtn {
            background: #ffffff;
            height: 40px;
            width: 40px;
            border: 1px solid #dddde3;
            box-sizing: border-box;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            .quantity {
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #808089;
            }
          }
        }
      }
    }
    .removeItem {
      color: black;
      .icon {
        font-size: 12px;
      }
    }
  }
  .seperator {
    border: 0;
    border-top: 1px solid #ebebf0;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
