.cartPg {
  background-color: #e5e5e5;
  min-height: 100vh;
  padding-bottom: 159px;
  .pageTitle {
    color: #ffffff;
    background: #fc820a;
    text-align: left;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
  .chitietdonhang {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #27272a;
    padding: 8px 16px;
    text-align: left;
  }
  .list {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 8px;
    padding: 16px 16px;
    background: #ffffff;
  }
}
