.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  .BottomNavigationAction {
    text-decoration: none;
    color: #81818a;
  }
  .BottomNavigationAction.selected {
    text-decoration: none;
    color: #fc820a;
  }
}
