
.XprodCard {
  width: 160px;
  background-color: #ffffff;
  margin-bottom: 8px;
  border-radius: 4px 4px;
  .thumbnail {
    height: 150px;
    width: 150px;
    display: inline-block;
    position: relative;
    .freeShipLabel {
      bottom: 0px;
      left: 0px;
      position: absolute;
    }
    .img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .info {
    margin: 8px 8px;
    text-align: left;
    .tikiNowLabel {
    }
    .prodName {
      line-height: 16px;
      font-size: 12px;
      font-weight: 400;
    }
    .reviewCount {
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #808089;
    }
    .price {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #27272a;
      margin-right: 8px;
    }
    .sale {
      padding: 4px;
      background: #ff424f;
      border-radius: 4px;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #ffffff;
    }
    .oldPrice {
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #808089;
      text-decoration-line: line-through;
    }
  }
}

.YprodCard {
  height: 160px;
  width: 328px;
  display: flex;
  background-color: #ffffff;
  margin: 0px 8px;
  border-radius: 4px 4px;
  .thumbnail {
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    display: inline-block;
    position: relative;
    .freeShipLabel {
      bottom: 0px;
      left: 0px;
      position: absolute;
    }
    .img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .info {
    margin: 8px 8px;
    text-align: left;
    .tikiNowLabel {
    }
    .prodName {
      line-height: 16px;
      font-size: 12px;
      font-weight: 400;
    }
    .reviewCount {
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #808089;
    }
    .price {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #27272a;
      margin-right: 8px;
    }
    .sale {
      padding: 4px;
      background: #ff424f;
      border-radius: 4px;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #ffffff;
    }
    .oldPrice {
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #808089;
      text-decoration-line: line-through;
    }
  }
}

.starRating {
  display: flex;
  // font-size: 8px;
  .backStars {
    display: flex;
    color: #C4C4CF;
    position: relative;
    font-size: 8px;
    .star {
      font-size: 10px;
    }
    .frontStars {
      display: flex;
      color: #FFC400;
      overflow: hidden;
      position: absolute;
      font-size: 8px;
    }
  }
}
